@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    display: flex;
    padding: 0px;
    min-height: 100vh;
    background: #343434;
}

.wrapper {
    padding-top: 30px;
    padding-left: 100px;
    left: -50px; 
}

.wrapper .static-txt {
    color: #000;
    top: -10px;
    font-size: 60px;
    font-weight: 500;
}

.wrapper .dynamic-txts {
    margin-left: 15px;
    height: 72px;
    line-height: 70px;
    background: white;
    overflow: hidden;
}

.dynamic-txts li {
    color: black;
    list-style: none;
    font-size: 60px;
    font-weight: 400;
    position: relative;
    margin-bottom: 50px;
    top: 0;
    animation: slide 18s steps(6) infinite;
}
@keyframes slide {
    100% {
        top: -720px;
    }
}
.dynamic-txts li span {
    position: relative;

}
.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left : 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border-left: 2px solid #000;
    animation: typing 3s steps(27) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

.table {
    border-spacing: 0 15px;
}

i {
    font-size: 1rem !important;
}

.table tr {
    border-radius: 20px;
}

tr td:nth-child(n+5),
tr th:nth-child(n+5) {
    border-radius: 0 .625rem .625rem 0;
}

tr td:nth-child(1),
tr th:nth-child(1) {
    border-radius: .625rem 0 0 .625rem;
}

.output {
	width: 870px;
    height: 200px;
	resize: none;
	scroll-behavior: smooth;
	margin-top: 16px;
	font-family: 'Courier New', monospace;
	color: white;
    margin-bottom: 0px;
}

.editor-container {
	display: grid;
	grid-template-columns: 150px auto;
}

.editor-content {
	grid-column-start: 2;
}

.Button {
	margin-right: 10%;
	position: relative;
	border-radius: 2%;
	border-color: white;
	background-color: black;
	color:white;
	cursor:pointer;
	width: 40%;
	height: 35px;
}

.Button:active{
	top:5px;
}

.languages {
	margin-left: 10%;
	width: 40%;
	height: 100%;
}

.inputOutput {
	margin-top: 20px;
	grid-column-start: 2;
}

/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
